$first-accent-color: #d41443;
$secondary-accent-color: #ffa5ba;

$primary-white-color: #ffffff;
$title-color: #000000;

$bkg-accent-color: #fff5f6;
$bkg-color-section-reviews: #fafafa;

$text-color: #907e82;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
