$first-accent-color: #d41443;
$secondary-accent-color: #FFB8CA;

$primary-white-color: #ffffff;
$title-color: #000000;

$bkg-accent-color: #fff5f6;
$bkg-color-sectiom-reviews: #fafafa;

$text-color: #907e82;
