$first-accent-color: rgba(212, 19, 66, 1);
$secondary-accent-color: rgba(255, 165, 186, 1);

$primary-white-color: rgba(255, 255, 255, 1);
$title-color: rgba(0, 0, 0, 1);

$bkg-accent-color: rgba(255, 245, 246, 1);
$bkg-color-section-reviews: rgba(250, 250, 250, 1);

$text-color: rgba(144, 126, 130, 1);
