<section class="about" id="how-its-made">
    <div class="container about__container">
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__wrapper">
            <picture>
                <source srcset="
                    /images/about/cow-desktop.png 1x,
                    /images/about/cow-desktop-2x.png 2x
                    " media="(min-width: 1280px)">
                <source srcset="
                    /images/about/cow-tab.png 1x,
                    /images/about/cow-tab-2x.png 2x
                    " media="(min-width: 768px)">
                <source srcset="
                    /images/about/cow-mob.png 1x,
                    /images/about/cow-mob-2x.png 2x
                    " media="(max-width: 767px)">
                <img class="about__img" src="/images/about/cow-desktop-2x.png" alt="cow and milk"></picture> 
            <div class="about__text-thumb">
                <p class="about__subject">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
                orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
                massa nibh, tincidunt.
                </br></br>
                Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="btn about__btn js-open-modal" type="button" data-modal="1">Read more
                    <svg class="about__icon" width="8" height="12">
                        <use href="/images/icons.svg#than-icon"></use>
                    </svg>
                </button>
            </div>
        </div>
        
        <div class="modal" data-modal="1">
            <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
            </svg>
            <p class="modal__title">how it’s made?</p>
                <div class="modal__thumb">
                    <p class="modal__subject">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                        faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                    <p class="modal__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
                        orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
                        massa nibh, tincidunt.
                        </br></br>
                        Aliquam erat volutpat. Aenean accumsan. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic cupiditate 
                        labore animi vitae assumenda ipsa dicta eveniet nam sint voluptates autem officiis veritatis mollitia sed quis, 
                        reiciendis asperiores accusantium rem repudiandae saepe suscipit vero tempore officia! Et repudiandae quos omnis 
                        eius nulla, ipsum, aspernatur veniam quibusdam quasi minima at adipisci quia magni aliquam ipsa, necessitatibus 
                        laboriosam corrupti quas beatae unde? 
                        </br></br>
                        Totam alias accusantium atque pariatur dolorem, quas minus ipsum et sed 
                        voluptatem quasi dolor fugiat quaerat magni amet eligendi, maiores debitis quo ex ducimus minima vero? Quibusdam 
                        temporibus consequatur possimus explicabo reiciendis quaerat vitae nemo molestias repellendus? Laboriosam, pariatur 
                        magnam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quidem officiis illo accusamus nihil animi 
                        enim facere quis repellendus placeat! </p>
                </div>
        </div>
        
        <!-- Бэкдроп под модальным окном -->
        <div class="overlay js-overlay-modal"></div>

    </div>
</section>