<!-- Приемущества нашей продукции -->
<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Приемущества нашей продукции</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__icon">
          <svg width="33" height="50">
            <use href="./images/icons.svg#udder"></use>
          </svg>
        </div>
        <p class="advantages__facts">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon">
          <svg width="50" height="50">
            <use href="./images/icons.svg#apple"></use>
            src\images\icons.svg
          </svg>
        </div>
        <p class="advantages__facts">16kg</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon">
          <svg width="44" height="50">
            <use href="./images/icons.svg#icecream"></use>
          </svg>
        </div>
        <p class="advantages__facts">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
