
<section class="contacts" id="contacts">
    <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <div class="contacts__thumb">
                    <p class="contacts__place-name">CAFE</p>
                    <p class="contacts__city-name">Chicago</p>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <ul class="wrap">
                            <li class="wrap__item wrap__item--margin">
                                <p class="wrap__work-days">Monday - Friday</p>
                                <p class="wrap__work-time">06:00 AM - 10:00 PM</p>
                            </li>
                                <li class="wrap__item">
                                    <p class="wrap__work-days">Saturday - Sunday</p>
                                    <p class="wrap__work-time">08:00 AM - 16:00 PM</p>
                                </li>
                        </ul>
                        <ul class="contacts__links">
                            <li><a href="tel:+61(0)383766284" class="contacts__tel">+61(0) 383 766 284</a></li>
                            <li><a href="mailto:noreply@envato.com" class="contacts__mail">noreply@envato.com</a></li>
                        </ul>
                                
                </div>   
                </li>
                <li class="contacts__item">
                    <div class="contacts__thumb">
                    <p class="contacts__place-name contacts__place-name--food">FOOD TRUCK</p>
                    <p class="contacts__city-name">Los Angeles</p>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="wrap">
                        <li class="wrap__item wrap__item--margin">
                            <p class="wrap__work-days">Monday - Friday</p>
                            <p class="wrap__work-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="wrap__item">
                            <p class="wrap__work-days">Saturday - Sunday</p>
                            <p class="wrap__work-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contacts__links">
                        <li><a href="tel:+61(0)383766284" class="contacts__tel">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com" class="contacts__mail">noreply@envato.com</a></li>
                    </ul>
                    </div>
                </li>
                <li class="contacts__item contacts__item--margin">
                    <div class="contacts__thumb">
                    <p class="contacts__place-name">CAFE</p>
                    <p class="contacts__city-name">New York</p>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="wrap">
                        <li class="wrap__item wrap__item--margin">
                            <p class="wrap__work-days">Monday - Friday</p>
                            <p class="wrap__work-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="wrap__item">
                            <p class="wrap__work-days">Saturday - Sunday</p>
                            <p class="wrap__work-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                <ul class="contacts__links">
                    <li><a href="tel:+61(0)383766284" class="contacts__tel">+61(0) 383 766 284</a></li>
                    <li><a href="mailto:noreply@envato.com" class="contacts__mail">noreply@envato.com</a></li>
                </ul>
                </div>
                </li>
            </ul>
                    <ul class="contacts__button-list">
                        <li>
                            <button type="button" onclick="document.location='//goo.gl/maps/t7zajUNdRXWc9qwJ6'"
                                class="btn contacts__button contacts__button--first">Our Locations
                                <svg class="contacts__icon contacts__icon--color" width="8" height="12">
                                    <use href="/images/icons.svg#than-icon"></use>
                                </svg></button>
                        </li>
                            
                        <li>
                            <button type="button" class="btn contacts__button contacts__button--second">Franchise
                                <svg class="contacts__icon" width="8" height="12">
                                    <use href="/images/icons.svg#than-icon"></use>
                                </svg></button>
                        </li>
                            
                    </ul>
    </div>
</section>
