
<section class="container section-contacts">
    <h2 class="visually-hidden">Contacts</h1>
        <ul class="section-contacts__list">
            <li class="section-contacts__item">
                <div class="section-contacts__thumb">
                    <p class="section-contacts__place-name">CAFE</p>
                    <p class="section-contacts__city-name">Chicago</p>
                    <p class="section-contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <ul class="aside">
                            <li class="aside__item">
                                <p class="aside__work-days">Monday - Friday</p>
                                <p class="aside__work-time aside__work-time--margin">06:00 AM - 10:00 PM</p>
                            </li>
                                <li class="aside__item">
                                    <p class="aside__work-days">Saturday - Sunday</p>
                                    <p class="aside__work-time">08:00 AM - 16:00 PM</p>
                                </li>
                        </ul>
                                <a href="tel:+61(0)383766284" class="section-contacts__tel">+61(0) 383 766 284</a>
                                <a href="mailto:noreply@envato.com" class="section-contacts__mail">noreply@envato.com</a>
                </div>   
                </li>
                <li class="section-contacts__item">
                    <div class="section-contacts__thumb">
                    <p class="section-contacts__place-name">FOOD TRUCK</p>
                    <p class="section-contacts__city-name">Los Angeles</p>
                    <p class="section-contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="aside">
                        <li class="aside__item">
                            <p class="aside__work-days">Monday - Friday</p>
                            <p class="aside__work-time aside__work-time--margin">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="aside__item">
                            <p class="aside__work-days">Saturday - Sunday</p>
                            <p class="aside__work-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <a href="tel:+61(0)383766284" class="section-contacts__tel">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="section-contacts__mail">noreply@envato.com</a>
                    </div>
                </li>
                <li class="section-contacts__item">
                    <div class="section-contacts__thumb">
                    <p class="section-contacts__place-name">CAFE</p>
                    <p class="section-contacts__city-name">New York</p>
                    <p class="section-contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="aside">
                        <li class="aside__item">
                            <p class="aside__work-days">Monday - Friday</p>
                            <p class="aside__work-time aside__work-time--margin">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="aside__item">
                            <p class="aside__work-days">Saturday - Sunday</p>
                            <p class="aside__work-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                <a href="tel:+61(0)383766284" class="section-contacts__tel">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="section-contacts__mail">noreply@envato.com</a>
                </div>
                </li>
            </ul>
            <ul>
                <li>
                    <button type="button" class="section-contacts__button section-contacts__button--first">Our
                        Locations</button>
                </li>
                <li>
                    <button type="button"
                        class="section-contacts__button section-contacts__button--second">Franchise</button>
                </li>
            </ul>
    </section>
