<footer class="footer">
  <div class="container container__footer">
    <div class="footer__title">
      <p class="footer__text">HOMEMADE ICE CREAM MADE</p>
      <h2 class="footer__title-color">WITH PASSION</h2>
    </div>
    <ul class="list list__social">
      <li class="item item__social">
        <a href="#" class="social__icon">
          <svg class="icon-github" width="32" height="32">
            <use href="./images/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="item item__social">
        <a href="#" class="social__icon">
          <svg class="icon-telegram" width="32" height="32">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="item item__social">
        <a href="#" class="social__icon">
          <svg class="icon-facebook" width="32" height="32">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="footer__link-tel">
      <a href="tel:+610383766284">
        <span class="footer__link-color">Feel free to contact</span>+61 (0) 383 766 284</a
      >
    </div>
  </div>
</footer>
