<section class="gallery">
    <div class="container gallery__container">
        <picture>
            <source srcset="../src/images/gallery/gallery-img-1x-desktop.png 1x,
                                    ../src/images/gallery/gallery-img-2x-desktop.png 2x
                                    " media="(min-width: 1280px)">
            <source srcset="../src/images/gallery/gallery-img-1x-tab.png 1x,
                                    ../src/images/gallery/gallery-img-2x-tab.png 2x
                                    " media="(min-width: 768px)">
            <source srcset="../src/images/gallery/gallery-img-1x-mob.png 1x,
                                    ../src/images/gallery/gallery-img-2x-mob.png 2x
                                    " media="(min-width: 320px)">
            <img class="gallery__item" src="../src/images/gallery/gallery-img-1x-mob.png" alt="poster-ice-cream">
        </picture>
        
    </div>
</section>