<header class="header">
    <nav class="header__container">
                <a href="/index.html" class="logo">
                <img class="logo__img" src="./images/logo-2x.png" srcset="./images/logo-1x.png 1x, 
                                ./images/logo-2x.png 2x" alt="logo">
                <p class="logo__text">icecream</p></a>
            <ul class="header__nav-items">
                <li class="header__nav-item">
                    <a class="header__nav-link--color" href="./index.html">Home</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#about-us">About us</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#how-its-made">How it's made?</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#our-products">Our products</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#contacts">Contacts</a>
                </li>
            </ul>
        
        <button class="header__button-menu" type="button">
            <svg class="header__icons" width="25" height="25">
                <use class="header__icon-open" href="./images/icons.svg#icon-open-menu"></use>
            </svg>
        </button>
        <button class="btn header__button-now" type="button">
            <span>Buy now ></span>
        </button>
    </nav>

<!-- Mobile menu -->
        <div class="header__table-menu">
            <button class="header__button-close" type="button">
                <svg width="14" height="14" class="header__button-close-svg">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <button class="header__table-menu-button-now btn" type="button">
                <span>Buy now ></span>
            </button>
            <div>
                <ul class="header__nav-items-menu">
                    <li class="header__nav-item">
                        <a class="header__nav-link--color" href="./index.html">Home</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#about-us">About us</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#how-its-made">How it's made?</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#our-products">Our products</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#contacts">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
</header>