<header class="header">
    <div class="container">
        <div class="logo">
            <svg class="logo__icon" width="80" height="80">
                <use href="./images/hero/logo.svg"></use>
            </svg>
            <span class="logo__text" href="/hero">IceCream</span>
            <svg class="logo__open" width="80" height="80">
                <use href="./images/hero/open-menu.svg"></use>
            </svg>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link nav__link--accent">Home</a></li>
                <li class="nav__item"><a class="nav__link">About us</a></li>
                <li class="nav__item"><a class="nav__link">How it's made?</a></li>
                <li class="nav__item"><a class="nav__link">Our products</a></li>
                <li class="nav__item"><a class="nav__link">Contact</a></li>
            </ul>
            <button class="menu-btn js-open-menu" type="button">
                <svg width="46" height="32" class="open-menu__icon">
                    <use href=""></use>
                </svg>
            </button>
            <button class="buy-btn" type="button">Buy now ></button>
        </nav>
    </div>
</header>

<div class="hero">
    <div class="left">
        <div class="info">
            <h1>ice cream<br>made with<br><span>passion</span></h1>
            <div class="buttons">
                <a class="buttons__products" href="">Products</a>
                <a class="buttons__made" href="">How it's made?</a>
            </div>
        </div>
        <div class="milk">
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat voluptatem dolor ratione culpa saepe, cupiditate cum neque ut, magnam ab omnis fugiat delectus consequatur, amet facere recusandae. Eveniet, eaque ex.</p>
        </div>
    </div>
    <div class="big-icecream">
        <picture>
            <source srcset="./images/hero/icecream-1x-mac.png 1x,
                            ./images/hero/icecream-2x-mac.png 2x
                            " media="(min-width: 1280px)">
            <source srcset="./images/hero/icecream-1x-tab.png 1x,
                            ./images/hero/icecream-2x-tab.png 2x
                            " media="(min-width: 768px)">
            <source srcset="./images/hero/icecream-1x-mb.png 1x,
                            ./images/hero/icecream-2x-mb.png 2x
                            " media="(min-width: 320px)">
        </picture>
        <img src="./images/hero/icecream-1x-mac.png" alt="Icecream">
    </div>
    <div class="circle"></div>
    <div class="right">
        <ul>
            <li>16<span>cofes</span></li>
            <li>23<span>food trucks</span></li>
        </ul>
        <div class="so-tasty">
            <picture>
                <source srcset="./images/hero/girl-1x-mac.png 1x,
                                ./images/hero/girl-2x-mac.png
                                " media="(min-width: 1280px)">
                <source srcset="./images/hero/girl-1x-tab.png 1x,
                                ./images/hero/girl-2x-tab.png 2x
                                " media="(min-width: 768px)">
            </picture>
            <img src="./images/hero/girl-1x-mac.png" alt="So Tasty">
        </div>
    </div>
</div>