<header class="header">
    <div class="header__container">
        <div class="logo">
            <div class="header__logo" href="">
                <img src="./images/logo-1x.png" 
                srcset="./images/logo-1x.png 1x" 
                srcset="/images/logo-2x.png 2x" alt="logo">
            </div>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <svg class="nav__list--close" width="25" height="25">
                    <use class="icon-close" href="./images/icons.svg#icon-close"></use>
                </svg>

                <button class="header__button-buy button" type="button">
                    <span>Buy now ></span>
                </button>

                <li class="nav__item"><a class="nav__link--color" href="./index.html">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="#about-us">About us</a></li>
                <li class="nav__item"><a class="nav__link" href="#how-its-made">How it's made?</a></li>
                <li class="nav__item"><a class="nav__link" href="#our-products">Our products</a></li>
                <li class="nav__item"><a class="nav__link" href="#contacts">Contacts</a></li>
            </ul>
            <button class="header__menu-open button" type="button">
                <svg class="header__icons" width="25" height="25">
                    <use class="header__icon-open" href="./images/icons.svg#icon-open-menu"></use>
                </svg>
            </button>
            <button class="header__button-buy button" type="button">
                <span>Buy now ></span>
            </button>
        </nav>
    </div>
</header>

<div class="hero">
    <div class="left">
        <div class="info">
            <h1 class="info__text">ice cream<br>made with<br><span class="info__text--color">passion</span></h1>
            <div class="buttons">
                <a class="buttons__products" href="">Products</a>
                <a class="buttons__made" href="">How it's made?</a>
            </div>
        </div>
        <div class="hero__milk">
            <picture>
                <source srcset="./images/hero/milk-1x-mac.png 1x,
                                ./images/hero/milk-2x-mac.png 2x
                                " media="(min-width: 1280px)">
                <source srcset="./images/hero/milk-1x-tab.png 1x,
                                ./images/hero/milk-2x-tab.png 2x
                                " media="(min-width: 768px)">
            </picture>
            <img  class="hero-img" src="./images/hero/milk-1x-mac.png" alt="milk">
            <div class="hero__text-wrap">
                <p class="hero__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus reprehenderit rem saepe voluptatibus repellendus. This is a text</p>
                <button class="hero__arrow">
                    <img src="./images/arrow-1x.png" alt="arrow">
                </button>
            </div>
        </div>
    </div>
    <div class="big-icecream">
        <picture>
            <source srcset="./images/hero/icecream-1x-mac.png 1x,
                            ./images/hero/icecream-2x-mac.png 2x
                            " media="(min-width: 1280px)">
            <source srcset="./images/hero/icecream-1x-tab.png 1x,
                            ./images/hero/icecream-2x-tab.png 2x
                            " media="(min-width: 768px)">
            <source srcset="./images/hero/icecream-1x-mb.png 1x,
                            ./images/hero/icecream-2x-mb.png 2x
                            " media="(min-width: 320px)">
        </picture>
        <img class="big-icecream" src="./images/hero/icecream-1x-mac.png" alt="Icecream">
    </div>
    <div class="circle"></div>
    <div class="right">
        <ul class="hero__list--numbers">
            <li class="hero__first">16</li>
            <li class="hero__cafes">cafes</li>
            <span class="hero__circle__small"></span>
            <li class="hero__second">23</li>
            <li class="hero__trucks">food trucks</li>
            <span class="hero__circle__small"></span>
        </ul>

        <div class="so-tasty">
            <picture>
                <source srcset="./images/hero/girl-1x-mac.png 1x,
                                ./images/hero/girl-2x-mac.png
                                " media="(min-width: 1280px)">
                <source srcset="./images/hero/girl-1x-tab.png 1x,
                                ./images/hero/girl-2x-tab.png 2x
                                " media="(min-width: 768px)">
            </picture>
            <img src="./images/hero/girl-1x-mac.png" alt="So Tasty">
        </div>
    </div>
</div>








