<section>
    <div class="container products">
        <p class="products__title-desc">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__items">
            <li class="products__item products__item--pink">
                <div class="products__img-thumb">
                    <img 
                        class="products__img" 
                        srcset="./images/products/ice_cream.png 1x, ./images/products/ice_cream@2x.png 2x"
                        src="./images/products/ice_cream@2x.png" 
                        alt="ice cream with cream">
                </div>
                <h3 class="products__item-title">ice cream</h3>
                <div class="products__item-title-line">
                    <div class="products__item-title-circle"></div>
                    <div class="products__item-title-circle"></div>
                    <div class="products__item-title-circle"></div>
                </div>
                <div class="products__item-thumb">
                    <p class="products__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                </div>
                <button class="products__button" type="button">
                    <svg width="24 " height="20"
                    xmlns="http://www.w3.org/2000/svg" 
                    class="products__button-svg" 
                    viewBox="0 0 512 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M268 112l144 144-144 144M392 256H100" />
                    </svg>
                </button>
                <div class="products__item-info">
                    <p class="products__item-info-text">Lick me !</p>
                </div>
            </li>
            <li class="products__item products__item--yellow">
                <div class="products__img-thumb">
                    <img 
                        class="products__img" 
                        srcset="./images/products/ice_coffee.png 1x, ./images/products/ice_coffee@2x.png 2x"
                        src="./images/products/ice_coffee@2x.png" 
                        alt="ice cream with coffee">
                </div>
                <h3 class="products__item-title">ice coffee</h3>
                <div class="products__item-title-line">
                    <div class="products__item-title-circle"></div>
                    <div class="products__item-title-circle"></div>
                    <div class="products__item-title-circle"></div>
                </div>
                <div class="products__item-thumb">
                    <p class="products__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                </div>
                <button class="products__button" type="button">
                    <svg width="26 " height="20"
                    xmlns="http://www.w3.org/2000/svg" 
                    class="products__button-svg" 
                    viewBox="0 0 512 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M268 112l144 144-144 144M392 256H100" />
                    </svg>
                </button>
                <div class="products__item-info">
                    <p class="products__item-info-text">Lick me !</p>
                </div>
            </li>
            <li class="products__item products__item--green">
                <div class="products__img-thumb">
                    <img 
                        class="products__img" 
                        srcset="./images/products/milkshakes.png 1x ,./images/products/milkshakes@2x.png 2x"
                        src="./images/products/milkshakes@2x.png" 
                        alt="milkshakes">
                </div>
                <h3 class="products__item-title">milkshakes</h3>
                <div class="products__item-title-line">
                    <div class="products__item-title-circle"></div>
                    <div class="products__item-title-circle"></div>
                    <div class="products__item-title-circle"></div>
                </div>
                <div class="products__item-thumb">
                    <p class="products__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                </div>
                <button class="products__button" type="button">
                    <svg width="26 " height="20"
                        xmlns="http://www.w3.org/2000/svg" 
                        class="products__button-svg" 
                        viewBox="0 0 512 512">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M268 112l144 144-144 144M392 256H100" />
                    </svg>
                </button>
                <div class="products__item-info">
                    <p class="products__item-info-text">Lick me !</p>
                </div>
            </li>
        </ul>
    </div>
</section>