<section class="container products">
    <p class="products__title-desc">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__items">
        <li class="products__item products__item--pink">
            <div class="products__img-thumb">
                <img 
                    class="products__img" 
                    srcset=""
                    src="" 
                    alt="">
            </div>
            <h3 class="products__item-title">ice cream</h3>
            <div class="products__item-title-line">
                <div class="products__item-title-circle"></div>
                <div class="products__item-title-circle"></div>
                <div class="products__item-title-circle"></div>
            </div>
            <div class="products__item-thumb">
                <p class="products__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            </div>
            <button class="products__button" type="button">
                <svg width="28 " height="24"
                xmlns="http://www.w3.org/2000/svg" 
                class="products__button-svg" 
                viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M268 112l144 144-144 144M392 256H100" />
                </svg>
            </button>
        </li>
        <li class="products__item products__item--yellow">
            <div class="products__img-thumb">
                <img 
                    class="products__img" 
                    srcset=""
                    src="" 
                    alt="">
                <img src="" alt="">
            </div>
            <h3 class="products__item-title">ice coffee</h3>
            <div class="products__item-title-line">
                <div class="products__item-title-circle"></div>
                <div class="products__item-title-circle"></div>
                <div class="products__item-title-circle"></div>
            </div>

            <div class="products__item-thumb">
                <p class="products__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            </div>
            <button class="products__button" type="button">
                <svg width="28 " height="24"
                xmlns="http://www.w3.org/2000/svg" 
                class="products__button-svg" 
                viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M268 112l144 144-144 144M392 256H100" />
                </svg>
            </button>
        </li>
        <li class="products__item products__item--green">
            <div class="products__img-thumb">
                <img 
                    class="products__img" 
                    srcset=""
                    src="" 
                    alt="">
                <img src="" alt="">
            </div>
            <h3 class="products__item-title">milkshakes</h3>
            <div class="products__item-title-line">
                <div class="products__item-title-circle"></div>
                <div class="products__item-title-circle"></div>
                <div class="products__item-title-circle"></div>
            </div>

            <div class="products__item-thumb">
                <p class="products__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            </div>
            <button class="products__button" type="button">
                <svg width="28 " height="24"
                    xmlns="http://www.w3.org/2000/svg" 
                    class="products__button-svg" 
                    viewBox="0 0 512 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M268 112l144 144-144 144M392 256H100" />
                </svg>
            </button>
        </li>
    </ul>
</section>