<section class="container" id="customer-reviews">
    <h2 class="visually-hidden">Costumer reviews</h1>
    <div class="swiper mySwiper">
        <div class="reviews swiper-wrapper">
            <div class="reviews__body swiper-slide customer-item"><img class="reviews__customer-1 costumer"
                    src="./images/costumer-reviews/costomer-1-2x.png" width="85" alt="girl">
                <div class="test">
                    <div class="done">
                        <article class="reviews__comment"><h3 class="visually-hidden">Text</h3>Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam
                            sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</article>
                    </div>
                </div>
                <p class="reviews__text-adress">Emily, Los Angeles</p>
            </div>
            <div class="reviews__body swiper-slide"><img class="reviews__customer-2 costumer"
                    src="./images/costumer-reviews/costumer-2.png" width="85" alt="girl">
                <div class="test">
                    <div class="done">
                        <article class="reviews__comment"><h3 class="visually-hidden">Text</h3>Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam
                            sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</article>
                    </div>
                </div>
                <p class="reviews__text-adress">Emily, Los Angeles</p>
            </div>
            <div class="reviews__body swiper-slide"><img class="reviews__customer-3 costumer"
                    src="./images/costumer-reviews/costumer-3.png" width="85" alt="girl">
                <div class="test">
                    <div class="done">
                        <article class="reviews__comment"><h3 class="visually-hidden">Text</h3>Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam
                            sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</article>
                    </div>
                </div>
                <p class="reviews__text-adress">Emily, Los Angeles</p>
            </div>
        </div>
        <div class="swiper-pagination margin"></div>
    </div>
</section>