<section id="customer-reviews">
    <div class="container swiper mySwiper">
        <div class="reviews swiper-wrapper">
            <div class="swiper-slide customer-item"><img class="reviews__customer-1 costumer"
                    src="./images/costumer-reviews/costomer-1-2x.png" width="85" alt="girl">
                <div class="test">
                    <svg class="reviews__icon-comment" width="54" height="40">
                        <use href="./images/icons.svg#icon-quotes"></use>
                    </svg>
                    <div class="done">
                        <p class="reviews__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam
                            sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>
                <svg class="reviews__icon-rings" width="85" height="85">
                    <use href="./images/icons.svg#icon-rings"></use>
                </svg>
                <p class="reviews__text-adress">Emily, Los Angeles</p>
            </div>
            <div class="swiper-slide"><img class="reviews__customer-2 costumer"
                    src="./images/costumer-reviews/costumer-2.png" width="85" alt="girl">
                <div class="test">
                    <svg class="reviews__icon-comment" width="54" height="40">
                        <use href="./images/icons.svg#icon-quotes"></use>
                    </svg>
                    <div class="done">
                        <p class="reviews__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam
                            sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>
                <svg class="reviews__icon-rings" width="85" height="85">
                    <use href="./images/icons.svg#icon-rings"></use>
                </svg>
                <p class="reviews__text-adress">Emily, Los Angeles</p>
            </div>
            <div class="swiper-slide"><img class="reviews__customer-3 costumer"
                    src="./images/costumer-reviews/costumer-3.png" width="85" alt="girl">
                <div class="test">
                    <svg class="reviews__icon-comment" width="54" height="40">
                        <use href="./images/icons.svg#icon-quotes"></use>
                    </svg>
                    <div class="done">
                        <p class="reviews__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam
                            sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>
                <svg class="reviews__icon-rings" width="85" height="85">
                    <use href="./images/icons.svg#icon-rings"></use>
                </svg>
                <p class="reviews__text-adress">Emily, Los Angeles</p>
            </div>
        </div>
        <div class="swiper-pagination margin"></div>
    </div>
</section>