.about {
  padding-top: 125px;
  background-color: $bkg-accent-color;

  @media screen and (max-width: 767px) {
    background-image: url(/images/about/milk-mob-left.png), url(/images/about/milk-mob-right.png);
    background-repeat: no-repeat;
    background-size: 200px auto;
    background-position: 0 80%, 100% 78%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/about/milk-mob-left-2x.png),
        url(/images/about/milk-mob-right-2x.png);
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    background-size: 240px auto;
  }

  @media screen and (min-width: 768px) {
    padding-top: 130px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(/images/about/milk-desktop-left.png),
      url(/images/about/milk-desktop-right.png);
    background-repeat: no-repeat;
    background-size: 640px auto;
    background-position: 0 80%, 100% 78%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/about/milk-desktop-left-2x.png),
        url(/images/about/milk-desktop-right-2x.png);
    }
  }

  &__label {
    margin-bottom: 15px;
    font-family: 'Titan One', sans-serif;
    @include font($fw: 400, $fz: 18px, $lh: 1.17, $ls: 0.02em);
    text-transform: uppercase;
    text-align: center;
    color: $secondary-accent-color;

    @media screen and (min-width: 768px) {
      @include font($fw: 400, $fz: 26px, $lh: 1.15, $ls: 0.04em);
    }

    @media screen and (min-width: 1280px) {
      @include font($fw: 400, $fz: 30px, $lh: 1.13, $ls: 0.04em);
    }
  }

  &__title {
    margin-bottom: 26px;
    font-family: 'Titan One', sans-serif;
    @include font($fw: 400, $fz: 34px, $lh: 1.15, $ls: 0.04em);
    text-transform: uppercase;
    text-align: center;
    color: $first-accent-color;

    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
      @include font($fw: 400, $fz: 48px, $lh: 1.15, $ls: 0.04em);
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 55px;
      @include font($fw: 400, $fz: 58px, $lh: 1.14, $ls: 0.06em);
    }
  }

  &__wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__img {
    display: flex;
    width: 280px;

    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 46px;
    }

    @media screen and (min-width: 768px) {
      height: auto;
      width: auto;
      margin-right: 17px;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 74px;
    }
  }

  &__text-thumb {
    max-width: 220px;

    @media screen and (min-width: 480px) {
      max-width: 340px;
    }

    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
    }

    @media screen and (min-width: 768px) {
      padding-top: 50px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 463px;
    }
  }

  &__subject {
    margin-bottom: 30px;
    @include font($fw: 500, $fz: 12px, $lh: 1.62, $ls: 0.01em);
    color: $title-color;

    @media screen and (min-width: 768px) {
      @include font($fw: 500, $fz: 14px, $lh: 1.76, $ls: 0.01em);
    }

    @media screen and (min-width: 1280px) {
      @include font($fw: 500, $fz: 16px, $lh: 1.76, $ls: 0.04em);
    }
  }

  &__text {
    margin-bottom: 30px;
    @include font($fw: 500, $fz: 12px, $lh: 1.62, $ls: 0.01em);
    color: $text-color;

    @media screen and (min-width: 768px) {
      @include font($fw: 500, $fz: 14px, $lh: 1.76, $ls: 0.01em);
    }

    @media screen and (min-width: 1280px) {
      @include font($fw: 500, $fz: 14px, $lh: 1.94, $ls: 0.04em);
    }
  }

  &__btn {
    @include flex($display: flex, $ait: center, $jsc: center);
    width: 176px;
    text-align: center;
    @include font($fw: 700, $fz: 14px, $lh: 1.29, $ls: 0.04em);
    background-color: $primary-white-color;
    color: $first-accent-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }

    @media screen and (min-width: 768px) {
      @include font($fw: 700, $fz: 16px, $lh: 1.31, $ls: 0.01em);
    }
  }

  &__icon {
    margin-left: 15px;
    stroke: $first-accent-color;
  }
}
