.advantages {
  background-color: #fff5f6;

  &__list {
    width: 230px;
  }

  &__item {
    padding-top: 38px;
  }

  &__icon {
    fill: $secondary-accent-color;
    margin-bottom: 16px;
  }

  &__facts {
    font-family: Titan One;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $first-accent-color;
  }

  &__text {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.67;
    letter-spacing: 0.02em;
  }
}
