.contacts {
  padding-top: 86px;
  background: linear-gradient(0deg, $bkg-accent-color 90%, $primary-white-color 10%);
  @media screen and (min-width: 768px) {
    background: linear-gradient(0deg, $bkg-accent-color 75%, $primary-white-color 10%);
    padding-top: 119px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 132px;

    background-image: linear-gradient(0deg, $bkg-accent-color 76%, $primary-white-color 10%),
      url(/images/contacts/contactsbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 80%, 100% 78%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/contacts/contactsbg2x.png);
    }
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      margin-left: -20px;
      margin-bottom: 81px;
    }
    @media screen and (min-width: 1280px) {
      justify-content: center;
      margin-left: -31px;
      margin-bottom: 86px;
    }
  }

  &__item {
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    background-color: $primary-white-color;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 3 * 20px) / 3);
      margin-left: 20px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
      flex-basis: 330px;
      margin-left: 31px;
      margin-right: 0;
    }
  }
  &__item--margin {
    @media screen and (max-width: 767px) {
      margin-bottom: 54px;
    }
  }
  &__thumb {
    padding: 43px 18px;

    @media screen and (min-width: 768px) {
      padding: 50px 31px;
    }
    @media screen and (min-width: 1280px) {
      padding: 51px 44px 62px 43px;
    }
  }

  &__cafe {
    margin-bottom: 25px;

    width: 80px;

    border-radius: 4px;
    background-color: rgba(240, 209, 165, 1);

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      width: 73px;
      border-radius: 6px;
    }
  }

  &__food {
    margin-bottom: 25px;
    width: 130px;

    border-radius: 4px;
    background-color: rgba(194, 226, 151, 1);

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      width: 138px;
      border-radius: 6px;
    }
  }

  &__place-name {
    text-align: center;

    @include font($fw: 500, $fz: 12px, $lh: 1.86, $ls: 0.04em);

    color: $primary-white-color;

    @media screen and (min-width: 768px) {
      @include font($fw: 500, $fz: 16px, $lh: 1.86, $ls: 0.04em);
    }
  }

  &__city-name {
    margin-bottom: 10px;

    @include font($fw: 500, $fz: 12px, $lh: 1.86, $ls: 0.04em);

    color: $title-color;

    @media screen and (min-width: 768px) {
      margin-bottom: 14px;

      @include font($fw: 500, $fz: 14px, $lh: 1.86, $ls: 0.04em);
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 10px;

      @include font($fw: 500, $fz: 16px, $lh: 1.86, $ls: 0.04em);
    }
  }

  &__text {
    margin-bottom: 25px;

    @include font($fw: 500, $fz: 12px, $lh: 1.5, $ls: 0.04em);

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;

      @include font($fw: 500, $fz: 14px, $lh: 1.66, $ls: 0.04em);
    }
  }

  &__tel {
    @include font($fw: 500, $fz: 12px, $lh: 1.5, $ls: 0.04em);
    color: inherit;

    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      @include font($fw: 500, $fz: 14px, $lh: 1.83, $ls: 0.04em);
    }
  }

  &__mail {
    display: block;

    @include font($fw: 500, $fz: 12px, $lh: 1.5, $ls: 0.04em);
    color: inherit;

    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      @include font($fw: 500, $fz: 14px, $lh: 1.83, $ls: 0.04em);
    }
  }

  &__button-list {
    @media screen and (min-width: 768px) {
      @include flex($display: flex, $ait: center, $jsc: center);
    }
  }
  &__button {
    @include font($fw: 700, $fz: 16px, $lh: 1.3, $ls: 0.01em);

    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: 768px) {
      padding-left: 35px;
      padding-right: 35px;
    }
    &--first {
      margin-bottom: 10px;

      @media screen and (min-width: 768px) {
        margin-right: 14px;
        margin-bottom: 0;
      }

      color: $primary-white-color;
      background-color: $first-accent-color;

      transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
        color 500ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &--second {
      color: $first-accent-color;
      background-color: $primary-white-color;

      transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__icon {
    margin-left: 13px;
    stroke: currentColor;
  }
}

.contacts__button--first:hover,
.contacts__button--first:focus {
  background-color: $primary-white-color;
  color: $first-accent-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.contacts__button--second:hover,
.contacts__button--second:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: rgba(236, 235, 235, 1);
}

.contacts__tel:hover,
.contacts__tel:focus,
.contacts__mail:hover,
.contacts__mail:focus {
  color: $secondary-accent-color;
}

.wrap {
  &::after {
    content: '';

    @include flex($display: flex, $ait: center, $jsc: center);

    margin-bottom: 25px;
    margin-top: 25px;
    border: 1px solid #e1e1e1;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }

  &::before {
    content: '';

    @include flex($display: flex, $ait: center, $jsc: center);
    margin-bottom: 25px;

    border: 1px solid #e1e1e1;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__work-days {
    @include font($fw: 500, $fz: 12px, $lh: 1.86, $ls: 0.04em);

    color: $title-color;

    @media screen and (min-width: 768px) {
      @include font($fw: 500, $fz: 14px, $lh: 1.86, $ls: 0.04em);
    }
    @media screen and (min-width: 1280px) {
      @include font($fw: 500, $fz: 16px, $lh: 1.86, $ls: 0.04em);
    }
  }

  &__work-time {
    @include font($fw: 500, $fz: 12px, $lh: 1.86, $ls: 0.04em);

    color: $secondary-accent-color;

    @media screen and (min-width: 768px) {
      @include font($fw: 500, $fz: 14px, $lh: 1.86, $ls: 0.04em);
    }
    @media screen and (min-width: 1280px) {
      @include font($fw: 500, $fz: 16px, $lh: 1.86, $ls: 0.04em);
    }
  }
  &__work-time--margin {
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
  }
}
