.logo {
  width: 200px;
  height: 50px;
  margin-right: auto;

  &__img {
    width: 100%;
    height: 100%;
  }
}

.header {
  position: relative;

  min-height: 665px;
  z-index: 1;

  background-color: #ffb8ca;

  &__container {
    display: flex;
    align-items: center;
  }
  &__nav-items {
    display: flex;
  }
  &__nav-item:not(:last-child) {
    margin-right: 35px;
  }
  &__nav-link {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0em;

    color: $primary-white-color;
  }
  &__button {
    margin-left: auto;

    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0em;
    text-align: center;

    color: #d41443;
  }

  &__button-menu {
    display: none;
  }

  &__table-menu {
    display: none;
  }

  &__title-thumb {
    position: absolute;
    top: 171px;

    display: block;
    text-align: left;
    width: 277px;
  }
  &__title {
    margin-bottom: 25px;

    font-family: Titan One;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: uppercase;

    color: $primary-white-color;
  }
  &__title-red {
    font-size: 58px;
    color: #d41443;
  }
  &__title-buttons {
    display: flex;
  }
  &__title-button--red {
    @extend %centeredFlex;

    margin-right: 17px;

    background-color: $first-accent-color;
    font-family: DM Sans;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }
  &__title-button--white {
    @extend %centeredFlex;

    background-color: $primary-white-color;
    font-family: DM Sans;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: $first-accent-color;
  }

  &__img-milk-thumb {
    position: absolute;
    bottom: 45px;
    left: 77px;

    height: 191px;
    width: 188px;
  }

  &__text-milk-wrap {
    position: absolute;
    left: 295px;
    bottom: 102px;

    display: block;
    width: 200px;
    height: 78px;
    overflow: hidden;
  }
  &__text-milk {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
    letter-spacing: 0em;
    text-align: left;

    color: $primary-white-color;
  }
  &__milk-button {
    position: absolute;
    left: 295px;
    bottom: 56px;

    @extend %centeredFlex;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 0;
  }
  &__big-icecream {
    position: absolute;
    left: 594px;
    bottom: 0px;

    z-index: 2;
    width: 236px;
    height: 557px;
  }

  &__circle {
    position: absolute;
    left: 475px;
    bottom: 75px;

    z-index: -1;

    display: block;
    height: 538px;
    width: 538px;
    border-radius: 50%;
    background-color: #ffa5ba;
  }
  &__right-text-container {
    position: absolute;
    right: 115px;
    top: 160px;
  }

  &__right-text-thumb {
    display: block;
  }
  &__right-text-number {
    position: relative;
    z-index: 1;
    font-family: Titan One;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0.04em;
    text-align: right;
    color: #d41443;
  }
  &__right-text-desk {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;

    color: $primary-white-color;
  }
  &__right-text-circle {
    position: absolute;
    top: -4px;
    right: -18px;
    z-index: -1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $primary-white-color;
  }

  &__so-tasty-img-thumb {
    position: absolute;
    top: 433px;
    right: 109px;
    width: 293px;
    height: 232px;
  }
}

//     z-index: 2;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 0;
//     padding: 5px 0;
//     background-color:#FFB8CA;
//     @media screen and (min-width: 320px) and (max-width:767) {
//         height: 80px;
//     }
//     @media screen and (min-width: 768px) {

//         height: 100px;
//     }
//     @media screen and (min-width: 1200px) {

//     }

//     .header__container {
//         z-index: 3;
//         padding: 0 75px;
//         width: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         @media screen and (max-width: 479px) {
//             width: 100vw;
//         }
//         @media screen and (min-width: 768px) and (max-width: 1267px) {
//             justify-content: space-between;
//             padding: 0 30px;

//         }
//         @media screen and (min-width: 1280px) {
//             justify-content: space-between;
//         }
//     }
//     .logo {
//         display: flex;
//         align-items: center;
//         width: 200px;
//         height: 50px;
//         @media screen and (min-width: 1280px) {

//         }

//         .logo__text {
//             font-family: Titan One;
//             font-size: 28px;
//             line-height: 1.8;
//             text-transform: uppercase;
//             color: $first-accent-color;
//             margin-left: 20px;
//         }
//     }

//     .nav {
//         position: relative;
//         display: flex;
//         align-items: center;
//         button.menu-btn{
//             background: none;
//             outline: none;
//             @media screen and (min-width: 1280px) {
//                 display: none;
//             }
//         }

//         .header__menu-open {
//             display: flex;
//             margin: 0;
//             padding: 0;
//             align-items: center;
//             justify-content: center;
//             width: 25px;
//             height: 25px;
//             border: none;
//             background-color: transparent;
//             @media screen and (min-width: 1200px) {
//               display: none;
//               position: absolute;
//             }
//             @media screen and (max-width: 1199px) {
//               &.js-is-open {
//                 position: absolute;
//                 right: 30px;
//                 top: 22px;
//                 z-index: 10;
//               }

//               & .header__icons {
//                 display: block;
//               }

//               &.js-is-open .header__icon-close {
//                 display: block;
//               }

//               &.js-is-open .header__icon-open {
//                 display: none;
//               }

//               & .header__icon-close {
//                 display: none;
//               }
//             }

//             @media screen and (min-width: 1200px) {
//               display: none;
//               position: absolute;
//             }
//         }

//         .button {
//             outline: none;
//             border: none;
//         }

//         .header__button-buy {
//             display: block;
//             background: $primary-white-color;
//             color: $first-accent-color;
//             border-radius: 50px;
//             text-align: center;
//             font-weight: 700;
//             font-size: 16px;
//             line-height: 1.30;
//             padding: 10px 35px 10px 35px;
//             margin-left: 70px;
//             @media screen and (min-width: 320px) and (max-width: 480px) {
//                 display: none;
//             }
//             @media screen and (min-width:768px) and (max-width: 1271px) {
//                 margin-left: 40px;
//             }
//             @media screen and (min-width: 1280px) {

//             }
//         }

//         .nav__list {
//             align-items: center;
//             transition: transform 1s;
//             padding: 15px;
//             position: relative;
//             .header__button-buy{
//                 display: none;
//             }

//             .nav__list--close{
//                 @media screen and (min-width: 1280px) {
//                     display: none;
//                 }
//             }
//             @media screen and (min-width: 320px) and (max-width:1279px) {
//                 padding: 25px;
//                 transform: translateX(200%);
//                 background-color: #E17992;
//                 position: absolute;
//                 right: 0;
//                 z-index: 10;
//                 position: fixed;
//                 display: flex;
//                 justify-content: center;
//                 align-items: flex-start;
//                 width: 30%;
//                 top:0;
//                 flex-direction: column;
//                 height: 100vh;
//                 .nav__item{
//                     margin-right: 0;
//                 }
//             }
//             @media screen and (min-width: 1280px) {
//                 display: flex;
//                 z-index: 2;
//             }
//             &.is-open{
//                 transform: translateX(0);
//             }

//         }
//         .nav__item:not(last-child) {
//             margin-right: 35px;
//         }

//         .nav__link {
//             display: block;
//             font-family: DM Sans;
//             padding: 10px 0;
//             font-weight: 700;
//             font-size: 16px;
//             line-height: 1.30;
//             color: #fff;
//             &:hover {
//               color: $first-accent-color;
//             }
//         }

//         .nav__link--color {
//             color: $first-accent-color;
//             padding: 10px 0;
//             font-weight: 700;
//             font-size: 16px;
//             line-height: 1.30;
//         }
//     }
// }

// .header__icons {
//     display: none;
//     background-color: transparent;
// }

// .hero{
//     font-family: Titan One;
//     position: relative;
//     display: flex;
//     justify-content: space-between;
//     padding: 0 75px;
//     background-color: #FFB8CA;
//     @media screen and (min-width: 320px) and (max-width: 480px) {
//         padding: 0 40px;
//     }
//     @media screen and (min-width:768px) {
//         padding: 0 75px;
//         height: 460px;
//     }
//     @media screen and (min-width:1280px) {
//         height: 600px;
//     }

//     .left{
//         z-index: 3;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-evenly;
//         position: relative;
//         margin-top: 50px;
//         @media screen and (min-width:768px ) {
//             margin-top: 35px;
//         }

//         .hero__milk {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             bottom: 0;
//             width: 400px;
//             margin-left: -30px;

//             .hero-img {
//                 left: -15px;
//                 display: none;
//                 @media screen and (min-width:768px) {
//                     display: block;
//                 }
//                 @media screen and (min-width:1280px) {
//                     display: block;
//                 }

//             }

//             .hero__text{
//                 right: 0;
//                 max-width: 350px;
//                 color:#fff;
//                 font-family: DM Sans;
//                 font-size: 16px;
//                 line-height: 1.4;
//                 display: none;
//                 @media screen and (min-width:768px) {
//                     display: flex;
//                     font-size: 12px;
//                 }
//                 @media screen and (min-width:1280px) {

//                 }
//             }

//         }

//         .hero__list--numbers {
//             top: 90px;
//             left: -90px...
