.header {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#FFB8CA;
    @media screen and (min-width: 768px) {
        padding-top: 35px;
        padding-bottom: 35px;
      }
    
    .container {
        display: flex;
        align-items: center;
        @media screen and (max-width: 479px) {
            width: 100vw;
        }
        @media screen and (max-width: 767px) {
            justify-content: space-between;
        }
        @media screen and (min-width: 1280px) {
            justify-content: space-between;
        }
    }
    .logo {
        display: flex;
        align-items: center;
        width: 200px;
        height: 50px;
        @media screen and (min-width: 1280px) {
          margin-left: -60px;
        }
        
        .logo__text {
            font-family: Titan One;
            font-size: 28px;
            line-height: 1.8;
            text-transform: uppercase;
            color: $first-accent-color;
            margin-left: 20px;
        }
    }
    .nav {
        display: flex;
        button.menu-btn{
            background: none;
            outline: none;

            @media screen and (min-width: 1280px) {
                display: none;
            }
        }
        .buy-btn {
            padding: 10px 32px;
            border-radius: 50px;
            width: 209px;
            height: 44px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            font-weight: 700;
            font-size: 16px;
            line-height: 1.4;
            align-items: center;
            color: #D41443;
            @media screen and (max-width: 1279px) {
                display: none;
            }
        }
        .nav__list {
            display: none;
            @media screen and (min-width: 1280px) {
                display: flex;
            }
        }
        .nav__item:not(last-child) {
            margin-right: 35px;
        }
       
        .nav__link {
            display: block;
            font-family: DM Sans;
            padding: 10px 0;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.30;
            color: #fff;
            &:hover {
              color: $first-accent-color;
            }
        }

        .nav__link--accent {
            color: $first-accent-color;
        }

    }
}

.hero{
    height: 450px;
    font-family: Titan One;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #FFB8CA;

    .left{
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .info{
            h1{
                font-size: 33px;
                line-height: 1.19;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color:#ffffff;
                span{
                    font-size: 55px;
                    line-height: 1.19;
                    letter-spacing: 0.04em;
                    color:$first-accent-color;
                }
            }
            .buttons{
                margin-top: 19px;
                a{   
                    padding: 7px 11px;
                    border-radius: 50px;
                    font-family: DM Sans;
                    font-size: 14px;
                    line-height: 1.4;
                    align-items: center;
                    margin-top: 19px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .buttons__products {
                    background-color: $first-accent-color;
                    color: $primary-white-color;                    
                    margin-right: 8px;
                    box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
                .buttons__made {
                    background-color: $primary-white-color;
                    color: $first-accent-color;
                    
                }
            }
        }
        .milk{
            display: none;
        }
    }

    .big-icecream{
        z-index: 2;
        position: absolute;
        bottom: 0;
        left:150px;
        img{
            width: 171px;
            height: 410px;
            display: block;
        }
    }
    .circle {
        position: absolute;
        z-index: 1;
        left:36px;
        top:15px;
        border-radius: 50%;
        background-color: #FFA5BA;
        @media screen and (min-width: 1280px) {
            width: 600px;
            height: 600px;
        }
        @media screen and (min-width: 768px) {
            width: 600px;
            height: 600px;
        }
        @media screen and (min-width: 320px) {
            width: 282px;
            height: 282px;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        ul{
            display: none;
        }
        .so-tasty{
            position: absolute;
            @media screen and (min-width: 320px) and (max-width: 480px){
                display: none;
            } 
            @media screen and (min-width: 768px) {
                top: 218px;
                left: 440px;
            }
            @media screen and (min-width: 1280px) {
                top: 218px;
                left: 895px;
            }
        }
    }
}


