.reviews {
  padding-top: 80px;

  .costumer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
  }
  .reviews__comment {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    background-image: repeating-linear-gradient(
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0) 29px,
      #e1e1e1 0,
      #e1e1e1 30px
    );
    letter-spacing: 0.04em;
    @media screen and (min-width: 768px) {
      pading: 0 80px;
    }
    @media screen and (min-width: 1280px) {
      pading: 0 88px;
    }
  }
  .reviews__text-adress {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.6;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 34px;
  }
}

.test {
  margin: 0 35px;
  background-color: rgba(250, 250, 250, 0.5);
  padding-bottom: 52px;
  @media screen and (min-width: 768px) {
    padding-bottom: 28px;
    padding-right: 48px;
    padding-left: 48px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
  }
}
.done {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 43px;
  @media screen and (min-width: 768px) {
    width: 460px;
    padding-top: 47px;
  }
  @media screen and (min-width: 1280px) {
    width: 750px;
    padding-top: 47px;
  }
}
.reviews__comment::before {
  content: ' ';
  position: absolute;
  z-index: -1;
  height: 40px;
  width: 54px;
  top: 145px;
  left: 60px;
  background-image: url('/images/reviews/quotes.png');
  background-size: contain;
  @media screen and (min-width: 480px) {
    top: 29%;
    left: 13.5%;
  }
  @media screen and (min-width: 768px) {
    top: 35%;
    left: 15.5%;
  }
  @media screen and (min-width: 1280px) {
    top: 40.1%;
    left: 11%;
  }
}
.swiper-slide::before {
  content: ' ';
  position: absolute;
  z-index: 50;
  height: 4px;
  width: 32px;
  bottom: 15%;
  left: 45.5%;
  background-image: url('/images/reviews/rings.png');
  background-size: auto;
  @media screen and (min-width: 480px) {
    bottom: 15%;
    left: 46.5%;
  }
  @media screen and (min-width: 768px) {
    bottom: 20%;
    left: 47.5%;
  }
  @media screen and (min-width: 1280px) {
    bottom: 23%;
    left: 48.5%;
  }
}
