.reviews {
  margin-top: 80px;

  .costumer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
  }
  .reviews__comment {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    background-image: repeating-linear-gradient(
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0) 29px,
      #e1e1e1 0,
      #e1e1e1 30px
    );
    letter-spacing: 0.04em;
    @media screen and (min-width: 768px) {
      pading: 0 80px;
    }
    @media screen and (min-width: 1280px) {
      pading: 0 88px;
    }
  }
  .reviews__icon-rings {
    width: 32px;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .reviews__text-adress {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.6;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
  }
  .reviews__icon-comment {
    position: absolute;
    margin-top: 5%;
    margin-left: 7%;
    z-index: -1;
    fill: hsla(0, 0%, 0%, 0.2);
    @media screen and (min-width: 768px) {
      margin-top: 4%;
      margin-left: 3.9%;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 3%;
      margin-left: 3%;
    }
  }
}

.test {
  margin: 0 35px;
  background-color: rgba(250, 250, 250, 0.5);
  padding-bottom: 52px;
  @media screen and (min-width: 768px) {
    padding-bottom: 28px;
    padding-right: 48px;
    padding-left: 48px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
  }
}
.done {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 43px;
  @media screen and (min-width: 768px) {
    width: 460px;
    padding-top: 47px;
  }
  @media screen and (min-width: 1280px) {
    width: 750px;
    padding-top: 47px;
  }
}
